.header
  .header-nav
    %h1.app-name
      Game review
    //-if user_signed_in?
  %ul.header-contents
    %li.header-contents__content
      ユーザー様
    %li.header-contents__content
      新規投稿
    %li.header-contents__content
      アマゾン検索
    %li.header-contents__content
      ログアウト