.review{
  padding-top:0.8rem;
  &-wrapper{
    display: grid;
    margin: 1rem 0 0;
    padding: 0.7em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
  }
}