.show-conteiner{
  padding:80px;
}

.show{
  width: 800px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  &-box{
    width: 800px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    &__title{
      font-size: 1.0rem;
      padding-top: 10px;
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      font-weight: bold;
    }
    &__image{
      width: 800px;
      height: 100%;
      overflow: hidden;
      margin-top: 10px;
      padding: 15px 0;
      box-shadow: 0 2px 6px #c1ced7;
      &-src{
        width: 400px;
        height: 400px;
        display: block;
        margin: 0 auto;
        border-radius: 5%;
        object-fit: cover;
      }
    }
    &__description{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding-top: 20px;
    }
    &__rate{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding-top: 20px;
    }
    &__category{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding-top: 20px;
    }
  }
}