.show-conteiner{
  padding:100px;
}

.show{
  width: 800px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 0 auto;
  &-box{
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
    position: relative;
    &__title{
      padding:24px;
      font-size: 1.0rem;
      margin: 0 auto;
      display: block;
      font-weight: bold;
    }
    &__like{
      font-size: 1.2rem;
      position: absolute;
      right: 24px;
      bottom: 10px;
    }
    &__image{
      cursor: pointer;
      height: 100%;
      overflow: hidden;
      margin-top: 10px;
      padding: 15px 0;
      box-shadow: 0 2px 6px #c1ced7;
      &-src{
        width: 300px;
        height: 300px;
        display: block;
        margin: 0 auto;
        border-radius: 3%;
        object-fit: cover;
      }
      &-srcs{
        display:flex;
        justify-content: center;
        margin:0 auto;
        &__list{
          width:100px;
          height:100px;
          padding:1rem;
          border-radius: 20%;
        }
      }
    }
    &__description{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding:16px;
    }
    &__rate{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding:16px;
    }
    &__category{
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      width:9rem;
      &__name{
        background-color: #343a40;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        margin-right:0.2rem;
      }
    }
  }
}