img{
  height: 300px;
  width: 300px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.top {
  background: image-url('game');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.genre{
  display: inline;
}

.game {
  display: flex;
  height: auto;
  width:90%;
}