.user-warrper{
  padding:100px;
}

.user-box__side{
  float: left;
  width:20%;
  padding:2rem;
  &__profile{
    margin-top: 2rem;
    font-size:1rem;
  }
}

.user-box__main{
  float: right;
  width:80%;
  height:auto;
  padding:2rem;
  &__review{
    display: grid;
    margin: 1.5rem 0 0;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
  }
}

.user-select{
  width:36%;
  margin:0 auto;
  padding:1rem;
  a{
    padding:1rem 1rem;
    background-color: rgb(20, 233, 102);
    border-radius: 10px;
    color:white;
    text-decoration: none;
  }
  a:hover{
    background-color: rgba(20, 34, 233, 0.603);
  }
}