.btn-box{
  display:flex;
  padding:1rem;
  width:20%;
  text-decoration: none;
}

.edit-btn{
  padding:0.5rem;
  background-color: yellowgreen;
  border-radius: 0.3rem;
}

.delete-btn{
  margin-left:1rem;
  padding:0.5rem;
  background-color: rgb(205, 55, 50);
  border-radius: 0.3rem;
}

.btn-box__comment-btn{
  padding:0.5rem;
  background-color: rgb(50, 148, 205);
  border-radius: 0.3rem;
  width:20%;
  margin:0 auto;
  cursor: pointer;
}

.search-btn{
  padding-top:1rem;
  color: white;
  &__on{
  background-color: rgb(60, 70, 206);
  border: solid 1px rgb(60, 70, 206);
  border-radius: 2rem;
  width: 90%;
  font-size: 20px;
  height:3rem;
  }
}

.youtube-btn{
  padding:0.5rem;
  background-color: rgb(233, 16, 81);
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  &__on{
    width:56%;
  }
}

.rakuten-btn{
  padding:0.5rem;
  background-color: rgb(218, 25, 176);
  border-radius: 0.3rem;
  cursor: pointer;
  color: white;
  float:right;
  height: 2.5rem;
}