.btn-box{
  display:flex;
}

.edit-btn{
  padding:0.5rem;
  background-color: yellowgreen;
  border-radius: 0.3rem;
}

.delete-btn{
  padding:0.5rem;
  background-color: rgb(205, 55, 50);
  border-radius: 0.3rem;
}

.btn-box__comment-btn{
  padding:0.5rem;
  background-color: rgb(50, 148, 205);
  border-radius: 0.3rem;
  width:20%;
  margin:0 auto;
  cursor: pointer;
}