.header {
  width:100%;
  height: 80px;
  color:white;
  background-color: cyan;
  font-size: 24px;
  position: fixed;
  z-index: 2;
  .header-nav{
    float: left;
  }
  .header-contents{
    display: flex;
    list-style: none;
    padding-left:240px;
    &__content{
      padding:16px;
      line-height: 80px;
    }
  }
  .header-log{
    display: flex;
    list-style: none;
    padding-left:720px;
    &__sign{
      padding:16px;
      line-height: 80px;
    }
  }
}

.app-name{
  padding:10px;
}